@font-face {
  font-family: "HSBombaram3_Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.1/HSBombaram3_Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "HSBombaram3_Regular";
  font-weight: normal;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("image/image1.jpg");
  background-size: 100%;
  background-repeat: repeat;
}
